<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Professor</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/estilo2.css">
	</head>
	<body>
		<header style="margin-bottom:20px">
			<nav class="navbar navbar-expand navbar-dark bg-primary">
        		<a class="navbar-brand" href="#">Formulário de Professor</a>      		
        	</nav>
		</header>	
		<div class="mx-auto" style="width: 650px" >
		
					<!-- MENSAGEM DE SUCESSO -->
					<div th:if="${message != null}" class="alert alert-success alert-dismissible" role="alert">				
						<span th:text="${message}"></span>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>	
					<!-- MENSAGEM DE ERRO -->
					<div th:if="${messages != null}" class="alert alert-danger alert-dismissible" role="alert">				
						<span th:text="${messages}"></span>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					
					    <form enctype="multipart/form-data"
						th:action="@{/professor/editarfoto}" 
						th:object="${professor}"
						method="post">
									<input type="hidden" th:field="${professor.id}">
									<input type="hidden" th:field="${professor.nome}">
									<input type="hidden" th:field="${professor.email}">
									<input type="hidden" th:field="${professor.senha}">
						
				                 <div>
							        <img th:src="${professor.url}" data-holder-rendered="true" style="width: 140px; height: 140px;">
							     </div>
									        
				                <div class="mdl-navigation__link w-50" >
									<label for="file" class="text-primary" >FOTO</label>
									<input type="file" class="form-control" id="file" name ="file" ><br>
									<button type="submit" class="btn btn-primary">EDITAR</button>
								</div><br>
					     </form>
			<form 
				th:action="${professor.id == null} ? @{/professor/cadastro} : @{/professor/salvaredicao}" 
				th:object="${professor}"
				method="post">
				
				<!-- MENSAGENS DE VALIDAÇÕES -->
				<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible" role="alert">				
					<div th:each="error : ${#fields.detailedErrors()}">
						<span th:text="${error.message}"></span>
					</div>
					
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>			
				
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="${professor.url}">
				
					<div class="form-group">
						<label for="nome" class="text-primary">NOME:</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}">
					</div>
					
					<div class="form-group">
						<label for="email" class="text-primary">E-MAIL:</label>
						<input type="email" class="form-control" id="email" th:field="*{email}">
					</div>
					
					<div class="form-group">
						<label for="senha" class="text-primary">SENHA:</label>
						<input type="text" class="form-control" id="senha" th:field="*{senha}">
					</div><br>
					    <button type="submit" class="btn btn-primary">SALVAR</button>
						<a class="btn btn-danger" th:href= "@{'/professor/principal/'+ ${professor.id}}">VOLTAR TELA PRINCIPAL</a>
					
			</form>			
		</div>
		    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
		    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>