<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
	
	  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/estilo.css">
        
        <title>Lista Alunos</title>
    </head>
    <body>	
  	<header style="margin-bottom:20px">
			<nav class="navbar navbar-light navbar-dark bg-dark">
        		<a class="navbar-brand" href="#">Lista de Alunos</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="btn btn-primary btn-md float-right" th:href="@{'/professor/principal/'+ ${professor.id}}">VOLTAR TELA PRINCIPAL</a>
				</ul>        		
        	</nav>
		</header>	
  <div class="container">
  <a class="navbar-brand " aria-label="Third group">Professor:  </a>
				 <label th:text= ${professor.nome}></label><br>
				 
				 <br>
   <b>Alunos Cadastrados:</b><br><br>
   
   	<table class="table table-hover table-bordered">
				<thead>
					<tr class="thead-light">
						<th>FOTO</th>
						<th>NOME ALUNO</th>
						<th>EMAIL</th>
						<th>RGM</th>
				
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${alunos}">
					
					<td><a class="nav-link" th:href="@{${c.url}}"  target="_blank">Foto ...</a></td>
						<td th:text="${c.nome}"></td>
						<td th:text="${c.email}"></td>
						<td th:text="${c.rgm}"></td>
					</tr>
				</tbody>
			</table>
			</div>		
    </body>
</html>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>