<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/estilo.css">
        <title>Login - Controle de atividades</title>
    </head>
    
    <body >
  			
        <div class="container">
        
  			<!-- MENSAGEM DE ERRO -->
			<div th:if="${messages != null}" class="alert alert-danger alert-dismissible" role="alert">				
				<span th:text="${messages}"></span>
				
			</div>	
			
            <form action= "/validacao/professor"  method="post" accept-charset="utf-8" class="shadow-lg p-3 mb-5 bg-transparent rounded" id="form-login">
                <h3>Login Professor</h3>
                <div class="form-group">
                    
                    <label for="login">Email:</label><br>
                    <input type="text" class="form-control" maxlength="50" id="login" name="email">
                    <label for="senha">Senha:</label><br>
                    <input type="password" class="form-control" maxlength="50" id="senha" name="senha">
                    <br>
                    <button type="submit" class="btn btn-primary btn-block" id="entrar">Entrar</button><br><br>
                    
                      <a type="button" class="btn btn-primary  btn-block"  href="/cadastrarprofessor" >Cadastre-se</a><br>
                    
                    <a class="btn btn-secondary btn-block" id="txtCancelar" href="/professorsenhaemail" role="button">Esqueci minha senha</a> 
                    
                    
                    </div>
               
            </form>
                  
        </div>
       
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>