<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Disciplina</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header style="margin-bottom:20px">
			<nav class="navbar navbar-light navbar-dark bg-dark">
        		<a class="navbar-brand" href="#">Adição de Disciplina</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="btn btn-primary btn-md float-right" th:href="@{'/professor/principal/'+ ${curso.professor.id}}">VOLTAR TELA PRINCIPAL</a>
				</ul>        		
        	</nav>
		</header>	
		<div class="container">
		<br>
		  <a class="navbar-brand " aria-label="Third group">Professor:  </a>
				 <label th:text= ${curso.professor.nome}></label><br>
				  <a class="navbar-brand " aria-label="Third group">Curso:  </a>
				 <label th:text= ${curso.nome}></label>
				 
		<br><br>
		<nav class="navbar navbar-light bg-light" style="margin-bottom:20px">
				<a class="navbar-brand">Formulário de Disciplina</a>
				<a class="btn btn-success btn-md float-right" th:href="@{'/listarmaterias/'+ ${curso.id}}" role="button">
					<span>Listar Editar Disciplina</span>
				</a>
			</nav>
			<br>
		
			<!-- MENSAGEM DE SUCESSO -->
			<div th:if="${message != null}" class="alert alert-success alert-dismissible" role="alert">				
				<span th:text="${message}"></span>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>	
			
			<!-- MENSAGEM DE ERRO -->
			<div th:if="${messages != null}" class="alert alert-danger alert-dismissible" role="alert">				
				<span th:text="${messages}"></span>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>			
			
			<form 
				th:action= "@{/materia/salva}" 
				th:object="${materia}"
				method="post">

				<!-- MENSAGENS DE VALIDAÇÕES -->
				<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible" role="alert">				
					<div th:each="error : ${#fields.detailedErrors()}">
						<span th:text="${error.message}"></span>
					</div>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>	
						
				<input type="hidden" th:field="${curso.id}">
				
				<div class="form-group">
					<label for="nome">NOME DA DISCIPLINA:</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}">
					</div>
			<div class="form-group">
					<label for="quantidadeAlunos">QUANTIDADE ALUNOS:</label>
					<input type="text" class="form-control" id="quantidadeAlunos" th:field="*{quantidadeAlunos}" >
					</div>

				<button type="submit" class="btn btn-primary">SALVAR</button>
			</form>			
		</div>
	</body>
</html>