<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/estilo2.css">
        <title>Principal Professor</title>
    </head>
    
    <body class="body">
    		<header>
				<nav class="navbar navbar-expand navbar-dark bg-primary">
	        		<a class="navbar-brand" href="#">Tela principal do Professor</a>      		
	        	</nav>
			</header>	
     
	        <div class="container">
	        
				   <br><ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						  <li class="nav-item px-2">
						    	<a class="btn btn-danger" id="txtPerfil" th:href="@{'/professor/editar/'+ ${professor.id}}" role="button">Editar Perfil</a>
						  </li>
						  
						   <li class="nav-item px-2">
						   		 <a class="btn btn-warning" id="txtAdm"  th:href="@{'/areaadministrativa/'+ ${professor.id}}" role="button">Administrar das Disciplinas</a>
						  </li>
						  
						  <li class="nav-item px-2">
						   		 <a class="btn btn-dark" id="txtaddCurso"th:href="@{'/curso/edicao/'+ ${professor.id}}" role="button">Adicionar curso/turma</a>
						  </li>
						  
						  <li class="nav-item px-2">
						         <a class="btn btn-success" id="txtAdDisc" th:href="@{'/prepara/cadastrodisciplina/'+ ${professor.id}}" role="button">Adicionar Disciplinas</a>
						  </li>
						  
						  <li class="nav-item px-2">
						   		 <a class="btn btn-primary" id="txtAddAtividade" th:href="@{'/escolhecurso/'+ ${professor.id}}"role="button">Adicionar Atividades</a>
						  </li>
						
                    </ul>
                  
			    <br><br>
							<a class="navbar-brand text-primary" aria-label="Third group"><b>Bem Vindo Professor:</b> </a>
							 <label th:text= ${professor.nome} class="text-danger"></label>
						
	  	    </div><br>
	  	  
		 	<div class="container">
		  		 <b class="text-primary">Meus Cursos Cadastrados:</b><br><br>
		   
			   	<table class="table table-hover table-bordered">
						<thead>
							<tr class="thead-light">
								<th>NOME</th>
								<th>BUSCAR ALUNOS</th>
							</tr>
								
						</thead>
						<tbody>
						
							<tr th:each="c : ${professor.cursos}">
								
								<td th:text="${c.nome}" style="background-color: white" class="text-danger"></td>
														
								<td class="text-center" style="background-color: white">
									<a class="btn btn-primary btn-sm" role="button" th:href="@{'/professor/preparalistaaluno/'+ ${c.id}}">
										<span>Buscar Alunos Cadastrados</span>
									</a>
																
									</td>
							</tr>
							
						</tbody>
				</table>
		   </div>
		    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
			<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>		
    </body>
</html>