body{
    padding-top: 180px;
    background-image: url(fundo.jpg) !important;
    background-repeat: repeat-x;
    background-size: 100%;
}

button{
    float: right;
}
#img2{	
	
    margin:50 auto;
}
.form-group{
    background-color: #fff;
    max-width: 300px;
    padding: 30px;
    margin: 0 auto;
}

#uploadArquivo{

  position: relative;
  overflow: hidden;
}
#form-group2{
	 /* background-color: #fff; */
   max-width: 300px;  
   padding: 30px; 
   margin: 0 auto; 
	
}
#uploadArquivo2{

  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.btn{
border-radius: 0;
}
.btn-md {
border-width: 50px;
outline: none;
border-radius: 5000;
box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
cursor: pointer;
} 