<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        
        <title>Informações</title>
    </head>
    <body>	
  	<header style="margin-bottom:20px">
			<nav class="navbar navbar-light navbar-dark bg-dark">
        		<a class="navbar-brand" href="#">Informações Atividade</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="btn btn-primary btn-md float-right"  th:href="@{/mostrarnotas/{iddisc}/{idalu}(iddisc=${materia.id}, idalu=${aluno.id})}">VOLTAR</a>
				</ul>        		
        	</nav>
		</header>	
		
          <div class="container">
  
                 <a class="navbar-brand " aria-label="Third group">Nome Atividade = </a>
				 <label th:text= ${atividade.nome}></label><br>
                 <a class="navbar-brand " aria-label="Third group">Anotações =  </a>
				 <label th:text= ${atividade.anotacoes}></label><br>
				  <a class="navbar-brand " aria-label="Third group">Quantidade Maxima Alunos Por Grupo =  </a>
				 <label th:text= ${atividade.quantidadeAlunosGrupo}></label><br>
				  <a class="navbar-brand " aria-label="Third group">Data Criação =  </a>
				 <label th:text= ${a}></label><br>
				 <a class="navbar-brand " aria-label="Third group">Data Entrega =  </a>
				 <label th:text= ${b}></label><br>
				 	 <a class="navbar-brand " aria-label="Third group">Arquivo Anexo =  </a>
				   <a class="nav-link" th:href="@{${atividade.url}}"  target="_blank">Arquivo ...</a>			 
			</div>		
    </body>
</html>