<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilo.css">
        <script type="text/javascript" scr="js/bootstrap.min.js"></script>
        <title>Login - Controle de atividades</title>
    </head>
    
    <body>
        <div class="container">
            <form action="" method="" accept-charset="utf-8" class="shadow-lg p-3 mb-5 bg-transparent rounded" id="form-login">
                <label class="teste"><h3>Cadastro e controle de atividades</h3></label>
                <div class="form-group">
                    
                    <label for="login">Login:</label><br>
                    <input type="text" class="form-control" maxlength="50" id="login" name="login">
                    <label for="senha">Senha:</label><br>
                    <input type="password" class="form-control" maxlength="50" id="senha" name="senha" >
                    <br>

                    <button type="button" class="btn btn-primary btn-block" id="entrar">Entrar</button><br><br>
                    <button type="button" class="btn btn-secondary btn-block">Cadastre-se</button><br><br>
                    <button type="button" class="btn btn-light btn-block">Esqueci minha senha</button><br>
                </div>
            </form>
        </div>
    </body>
</html>