<!DOCTYPE html>
<html lang="en" mlns:th""http://www.thymeleaf.org>
<html lang="pt-br">
<head>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/estilo.css">

<title>Recuperar Senha</title>
</head>

<body>

	<div class="container">
		<form action="/aluno/email/validacao" method="post"
			accept-charset="utf-8"
			class="shadow-lg p-3 mb-5 bg-transparent rounded" id="form-login">
			<label class="teste"><h3>Recuperação de Senha</h3></label>
			<div class="form-group">
			
				<!-- MENSAGEM DE SUCESSO -->
				<div th:if="${message != null}"
					class="alert alert-success alert-dismissible" role="alert">
					<span th:text="${message}"></span>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				
				<!-- MENSAGEM DE ERRO -->
				<div th:if="${messages != null}"
					class="alert alert-danger alert-dismissible" role="alert">
					<span th:text="${messages}"></span>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>

				<label for="login">Digite o Email Cadastrado:</label><br> <input
					type="text" class="form-control" maxlength="50" id="login"
					name="email"> <br>
				<button type="submit" class="btn btn-primary btn-block" id="entrar">Enviar
					Senha</button>
				<br>
				<br>
		</form>
		<a class="btn btn-secondary btn-block" id="txtCancelar" href="/aluno"
			role="button">Voltar</a>

	</div>
	</div>
</body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>